
/* Container */
.wrapper {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}

/*Web developer style*/
.web{
    color: gold;
}
/**/
.head{
    clear: both;
    text-align: center;
    float: left;

}
.contactHead{

    float: right;

}
/*For frameworks list to be next to the programming languages learnt*/

.Languages_and_frameworks{

    width: 45%;
    margin-right: 45px;
    float: left;



}

.emailAddress{

    float: right;
    padding: 10px;

}

.headerAndContact{
 height: 15%;
 width: 100%;



}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*  push the page content to the right when nav open */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



/*Header for portfolio */
.languages_header {

    text-align: center;
    color: darkslateblue;

}

/*columns*/
.column,
.columns {

    width: 100%;
    float: left;
    box-sizing: border-box;

}

/* links */
.headerAndFooter {
    height: auto;
    width: 100%;

}

a {
    color: darkslateblue;
}

a:hover {

    color: lightslategrey;
}

.links {
    width: 33.33%; /* links*/
    float: left;

}

/* the image and brief introduction div*/

.introduction {

    padding: 1%;
    width: 100%;
}

.languages {
    clear: both;
    padding: 1%;
    width: 100%;
    height: auto;
}

.image {
    width: 25%;
    margin: 2px;
    height: 25%;

}

.images {
    width: 20%;
    margin: 2px;

}

.briefIntro {

    clear: both;

    width: 66%;
    float: right;
    text-align: justify;

}

.briefIntros {
    clear: both;
    width: 66%;
    float: right;
    text-align: justify;
    padding: 2px;
    margin: 2px;

}

/* academic achievements paragraph */

.wrapperAcademicAchievements {
    clear: both;
    padding: 1%;
    width: 100%;
    height: auto;
}

.academicAchievements {
    clear: both;
    padding: 1%;
    margin-left: 0;

}

/*footer*/
footer {
    clear: both;
    text-align: center;
    color: gold;
    font-size: large;
}



/*Portfolio*/

.language_wrapper {

    clear: both;
    width: 100%;
    float: left;

}

.side_bar {

    width: 25%;
    float: right;
}

.image_and_explanation {

    width: 80%;
    float: left;

}

.link {

    clear: right;
    float: left;
    display: block;
}
/*Progress bar*/

* {
    box-sizing:border-box
}

/* Container for skill bars */
.skill_container {
    width: 100%;
    background-color: #ddd; /* Grey background */
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}

.html {
    width: 90%;
    background-color: #f44336;
}
.css {
    width: 80%;
    background-color: #2196F3;
}
.jquery {
    width: 60%;
    background-color: deepskyblue;
}
.js {
    width: 70%;
    background-color: #ff2;
}
.sql {
    width: 60%;
    background-color: #808080;
}
.php {
    width: 70%;
    background-color: mediumpurple;
}

/* contact details*/

.contactDetails{
    clear: both;
    float: right;

}
